{% extends "base.html" %}

<!DOCTYPE html>
<html>
<head>
<title>Student's Admission</title>
</head>
<body>
    {% block content %}
    <h1>Student's Admission</h1>
    <h2>Status: Pending...</h2>
    <p>Waiting to be admitted in {{ subject }} batch {{ batch }}. Keep this code as your admission reference. We will notify you once you are admitted.</p>
    <!-- <p>Congratulations! You have successfully enrolled for the [COURSE] batch [BATCH]. Proceed to window 3 to verify your enrollment</p> -->
    <h2>View Admission Details</h2>
    <p>{{ name }}</p>
    <p>{{ subject }}</p>
    {% endblock %}
</body>
</html>
